body {
  background-color: $dark-black;
  font-family: Stratum1-Regular;
  color: $light-text;
  box-sizing: border-box;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.5px;
  header {
    position: relative;
    height: 100px;
    top: 10px;
    left: 0;
    right: 0;
    h1 {
      font-family: Stratum1-Light;
      color: $light-grey;
    }
  }

}

.math-problems {

  .box-problem {
    width: 350px;
    height: 400px;
    border: 2px solid $border-math-box;
    display: inline-block;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    section {
      margin: 10px 5px;
    }
    .input-values{
      input {
        height: 40px;
        font-size: 18px;
        box-sizing: border-box;
      }
      input[type="button"] {
        background-color: $button-inactive;
        border: none;
        outline: none;
        border-radius: 5px;
        color: $light-text;
        font-family: Stratum1-Light;
        padding: 10px;
        &:hover {
          cursor: pointer;
          background-color: $button-selected;
        }
      }
      input[type="text"] {
        height: 40px;
        width: 150px;
        border: none;
        border-radius: 5px;
        outline: none;
        padding-left: 16px;
      }
    }
    .result {
      color: $light-text;
      padding-top: 30px;
      border-bottom: 1px solid $light-grey;
    }
    .box-description {
      margin-top: 30px;
      a {
        text-decoration: none;
        color: $link-inactive;
        &:hover {
          color: $link-selected;
        }
      }
      p {
        font-size: 18px;
        font-family: Stratum1-Light;
        text-align: left;
      }
    }

  }

}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45px;
  line-height: 45px;
  background-color: $black;
}
